body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: #222831;
  color: whitesmoke;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  background-color: #ed254e;
  color: whitesmoke;
  margin: 0px;
  padding: 0px;
}
label {
  font-size: 18px;
  padding-right: 5px;
}

.submit-button {
  font-size: 15px;
  width: 15%;
  margin: auto;
  border: none;
  padding: 0.75rem;
  background: #21bf73;
  color: aliceblue;
  border-radius: 8px;
  cursor: pointer;
}
.input-textarea {
  min-height: 120px;
  width: 50%;
  padding: 0.625rem;
  resize: vertical;
}
